---
layout: page
title: "Knock, Knock"
description: "Hey, this is Chen."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>未曾盼日落，何必羡繁星</p></blockquote>

    <p>Hey，我是<strong>HC</strong>，一只数据挖掘狗。</p>

    <p><strong>喜欢这些:</strong>
            <ul>
            <li>Semi-supervised Learning</li>
            <li>Online Learning</li>
            <li>Interpretable Machine Learning</li>
			<li>Reinforcement Learning</li>
            <li>Knowledge Reasoning</li>
            <li>Interactive System</li>
			<li>etc.</li>
        </ul>
		<strong>也做过工程:</strong>
		<ul>
            <li>Hadoop/Hive/HBase</li>
			<li>Spark</li>
            <li>C/Scheme</li>
        </ul>
		<strong>现在搞:</strong>
		<ul>
            <li>信贷模型</li>
            <li>Knowledge Reasoning</li>
            <li>Interactive System</li>
			<li>What's next...</li>
        </ul>
		<strong>水过论文:</strong>
		<ul>
			<li>[1]. Feng Wang, Xiaoyan Li, Wenqiang Lei, <strong>Chen Huang</strong>, Min Yin, Ting-Chuen Pong. Constructing Learning Maps for Lecture Videos by Exploring Wikipedia Knowledge. Pacific Rim Conference on Multimedia. Springer, 2015: 559-569.</li>
            <li>[2]. Junming Shao, <strong>Chen Huang</strong>, Qinli Yang and Guangchun Luo. Reliable Semi-supervised learning. In 16th IEEE International Conference on Data Mining (ICDM). 2016, 1197–1202</li>
			<li>[3]. <strong>Chen Huang</strong>, Peiyan Li, Chongming Gao, Qinli Yang, Junming Shao. Online Budgeted Least Squares with Unlabeled Data. In 19th IEEE International Conference on Data Mining (ICDM). 2019, 309-318</li>
			<li>[4]. Chongming Gao, Zhong Zhang, <strong>Chen Huang</strong>, Hongzhi Yin, Qinli Yang, Junming Shao. Semantic Trajectory Representation and Retrieval via Hierarchical Embedding, Information Sciences, accepted, 2020</li>
            <li>[5]. <strong>Chen Huang</strong>, Liangxu Pan, Qinli Yang, Hongliang Wang, and Junming Shao. Flexible, Robust, Scalable Semi-supervised Learning via Reliability Propagation, In 21th IEEE International Conference on Data Mining (ICDM). Accepted, 2021</li>
            <li>[6]. <strong>Chen Huang</strong>, Peixin Qin, Wenqiang Lei, Jiancheng Lv. Reduce Human Labor On Evaluating Conversational Information Retrieval System: A Human-Machine Collaboration Approach, In Proceedings of the 2023 Conference on Empirical Methods in Natural Language Processing (EMNLP), 2023, 10876–10891</li>
            <li>[7]. Yue Chen, Dingnan Jin, <strong>Chen Huang</strong>, Jia Liu, Wenqiang Lei. TRAVEL: Tag-Aware Conversational FAQ Retrieval via Reinforcement Learning. In Proceedings of the 2023 Conference on Empirical Methods in Natural Language Processing (EMNLP), 2023, 3861–3872.</li>
            <li>[8]. Tong Zhang, Junhong Liu, <strong>Chen Huang</strong>, Jia Liu, Hongru Liang, Zujie Wen and Wenqiang Lei. Towards Effective Automatic Debt Collection with Persona Awareness. In Proceedings of the 2023 Conference on Empirical Methods in Natural Language Processing: Industry Track, 2023, 32–45</li>
            <li>[9]. <strong>Chen Huang</strong>, Peixin Qin, Wenqiang Lei, Jiancheng Lv. Towards Equipping Transformer with the Ability of Systematic Compositionality, AAAI 2024, Accepted</li>
            <li>[10]. <strong>Chen Huang</strong>, Haoyang Li, Yifan Zhang, Wenqiang Lei, Jiancheng Lv. Cross-Space Adaptive Filter: Integrating Graph Topology and Node Attributes for Alleviating the Over-smoothing Problem, WWW 2024, Accepted</li>
            <li>[11]. <strong>Chen Huang</strong>, Duanyu Feng, Wenqiang Lei, Jiancheng Lv. DREditor: An Time-efficient Approach for Building a Domain-specific Dense Retrieval Model, arXiv 2024</li>
            <li><strong>More? Please refer to</strong> https://scholar.google.com/citations?user=acAfKhEAAAAJ</li>
        </ul>
        <strong>乐于助人:</strong>
        <ul>
            <li>KDD, 2022, External Reviewer</li>
            <li>SIGIR, 2022, External Reviewer</li>
            <li>Transactions on the Web (Special Issue on Conversational Information Seeking), 2022, Reviewer</li>
            <li>ACL 2023, 2024 Reviewer</li>
            <li>ACL ARR Reviewer</li>
        </ul>
		</p>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

