---
layout: page
title: "Knock, Knock"
description: "Hey, this is Chen."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<!-- <div class="zh post-container"> -->
    <!-- <blockquote><p>未曾盼日落，何必羡繁星</p></blockquote> -->

    <!-- <p>Hey，我是<strong>HC</strong>，一只数据挖掘狗。</p> -->

    <!-- <p><strong>喜欢这些:</strong>
            <ul>
            <li>Semi-supervised Learning</li>
            <li>Online Learning</li>
            <li>Interpretable Machine Learning</li>
            <li>Reinforcement Learning</li>
            <li>Knowledge Reasoning</li>
            <li>Interactive System</li>
            <li>etc.</li>
        </ul> -->
        <!-- <strong>也做过工程:</strong>
        <ul>
            <li>Hadoop/Hive/HBase</li>
            <li>Spark</li>
            <li>C/Scheme</li>
        </ul>
        <strong>现在搞:</strong>
        <ul>
            <li>信贷模型</li>
            <li>Knowledge Reasoning</li>
            <li>Interactive System</li>
            <li>What's next...</li>
        </ul>
        <p><strong>水过论文</strong>: ACL、AAAI、WWW、EMNLP、ICDM</p>

        <p><strong>Google Scholar</strong>：https://scholar.google.com/citations?user=acAfKhEAAAAJ</p>
        
        <strong>News</strong>
        <ul>
            <li>【2024年09月】 3篇文章被EMNLP 2024接收</li>
            <li>【2024年05月】 3篇文章被ACL 2024接收</li>
            <li>【2024年01月】 1篇文章被WWW 2024接收</li>
        </ul>
        <strong>乐于助人:</strong>
        <ul>
            <li>KDD, 2022, External Reviewer</li>
            <li>SIGIR, 2022, External Reviewer</li>
            <li>Transactions on the Web (Special Issue on Conversational Information Seeking), 2022, Reviewer</li>
            <li>ACL 2023, 2024 Reviewer</li>
            <li>ACM TheWebConf 2025 Conference RecSys Reviewer</li>
        </ul>
        </p>
</div> -->



<div class="en post-container">

    <!--copied from markdown -->
    <blockquote><p>Why yearn for the stars, if you haven't even awaited the sunset?</p></blockquote>

    <p>Hey，I'm <strong>Chen Huang</strong></p>

    <p>I am currently a Ph.D. candidate in College of Computer Science, Sichuan University, supervised by <a href="https://scholar.google.com/citations?user=0TCaWKwAAAAJ&hl=en">Prof. Jiancheng Lv</a>. Before that, I received my Master's and Bachelor's degrees from the School of Computer Science and Engineering at the University of Electronic Science and Technology of China, supervised by <a href="https://scholar.google.com/citations?hl=en&user=KpbTDv0AAAAJ">Prof. Junming Shao</a>. I also gained industry experience at the Intelligent Risk Management Lab at <a href="https://jr.jddinnovation.com/">JD Digits</a>.</p>  

    <p>My research mainly lies in Natural Language Processing (NLP) and Conversational AI – with special focus on:
        <ul>
            <li>Human-Agent Cooperation/Non-cooperation</li>
            <li>Multi-Agent Cooperation</li>
            <li>Cooperative Tool Use</li>
            <li>Applications of Conversational AI, e.g., Conversational Recommendation System, Conversatioanl Search, etc.</li>
        </ul>

    <blockquote><p>I'm interested in exploring these topics further with you. If you'd like to work together, just reach out to me (via email huangc.scu@gmail.com, or scan the QR code).</p></blockquote>

    <p><strong>Publications</strong>: Please see my <a href="https://scholar.google.com/citations?user=acAfKhEAAAAJ">Google Scholar</a> profiles for details</p>

    <strong>News:</strong>
		<ul>
            <li>[2025-03] 1 paper is accepted by FSE 2025 (Topic: Human-Agent Cooperation & Coding)</li>
            <li>[2025-01] 1 paper is accepted by NAACL 2025 (Topic: Dialogue System)</li>
            <li>[2024-12] 1 paper is accepted by AAAI 2025 (Topic: LLM Alignment)</li>
            <li>[2024-11] 1 paper is accepted by COLING 2025 (Topic: Table QA)</li>
			<li>[2024-09] 3 papers are accepted by EMNLP 2024 (Topic: Human-Agent Cooperation and Non-cooperation)</li>
            <li>[2024-05] 3 papers are accepted by ACL 2024 (Topic: Human-Agent Cooperation) </li>
            <li>[2024-01] 1 paper is accepted by The Web Conference 2024 (WWW 2024) (Topic: Adaptive Filter on Graph)</li>
            
        </ul>
    <strong>Services:</strong>
        <ul>
            <li>ACL Reviewer</li>
            <li>EMNLP Reviewer</li>
            <li>ACL ARR Area Chair (2025-02)</li>
            <li>ACM TheWebConf 2025 Conference RecSys Reviewer</li>
            <li>ACM TheWebConf 2025 Conference Short paper track PC</li>
            <li>AAAI 2025 AI Alignment Track Reviewer</li>
            <li>KDD, 2022, External Reviewer</li>
            <li>SIGIR, 2022, External Reviewer</li>
            <li>Transactions on the Web (Special Issue on Conversational Information Seeking), 2022, Reviewer</li>
        </ul>
	</p>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

